body{
	position: relative;
	background: url(../img/man.jpeg) no-repeat center;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
	video{
		position: absolute;
		z-index: -2;
	}
	.mask_bg{
		background: url(../img/mask_bg.png) repeat;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
	}
	
	/*头部*/
	header{
		height: 80px;
		width: 100%;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		position: relative;
    	font-family: "comic sans ms";
	}	
		.nav{
			margin: 0 auto;
			height: 80px;
			max-width:1200px;
			display: -webkit-box;
			-webkit-box-orient: horizontal;
			}
		
		.logo,nav,.share{
			height: 80px;
		}
		/*logo部分 开始*/	
		.logo{
			-webkit-box-flex: 1;
			perspective: 800px;
			text-align: center;
		}	
			.logo_logo{
				width: 40px;
				height: 40px;
				margin: 0 auto;
				position: relative;
				transform-style: preserve-3d;
				animation: logomove 3s linear infinite;
				margin-top: 21px;
				cursor: pointer;
			}
				.logo_logo div{
					width: 40px;
					height: 40px;
					position: absolute;
					opacity: 0.8;
					box-shadow: 0 0 40px #fff;
					line-height: 40px;
					transition: all 1s;
				}
				.logo_top{
					transform: rotateX(90deg) translateZ(20px);
				}
				.logo_bom{
					transform: rotateX(-90deg) translateZ(20px);
				}
				.logo_qian{
					transform: translateZ(20px);
				}
				.logo_hou{
					transform: translateZ(-20px) rotateY(180deg);
				}
				.logo_left{
					transform: rotateY(90deg) translateZ(20px);
				}
				.logo_right{
					transform: rotateY(-90deg) translateZ(20px);
				}
		/*logo部分 结束*/
		/*导航部分开始*/
		nav{
			-webkit-box-flex: 3;
		}
		nav .logo_logo{
			display: none;
		}
			nav ul{
				height: 80px;
				display: -webkit-box;
				-webkit-box-orient: horizontal;
			}
				nav li{
					-webkit-box-flex: 1;
					line-height: 80px;
					text-align: center;
					font-weight: normal;
					font-size: 13px;
					text-shadow: 0px 0px 15px #fff;
					border-left:  1px solid rgba(255, 255, 255, 0.5);
					transition: background 2s , color 1s ;
					
				}
				nav li:nth-child(1){
					animation: li_bg 2s ease-in-out  infinite;
				}
				nav li:nth-child(2){
					animation: li_bg 2s ease-in-out 0.5s infinite;
				}
				nav li:nth-child(3){
					animation: li_bg 2s ease-in-out 1s infinite;
				}
				nav li:nth-child(4){
					animation: li_bg 2s ease-in-out 1.5s infinite;
				}
				nav li:nth-child(5){
					animation: li_bg 2s ease-in-out 2s infinite;
		
				}
				
				nav li:hover{
					animation: stop;
					background: rgba(255,255,255,0.6);
					color: red;
				}	
		/*导航部分结束*/	
		.share{
			-webkit-box-flex: 1;
			border-left:  1px solid rgba(255, 255, 255, 0.1);
			text-align: center;
			opacity: 0.6;
			color: #E5004A;
			display: none;
		}
		/*/主体部分开始/*/
		.main{
			-webkit-box-flex: 1;
			display: -webkit-box;
			-webkit-box-orient: vertical;
		}
			.main_font{
				-webkit-box-flex: 1; 
				margin: 12% auto 8%;
	    		text-align: center;
			}
			.main_font h1{
				font-size: 3.3em;
				word-spacing: 0.5em;
			}
			.main_font h2{
				font: 3.8em "comic sans ms";
			}
			.keywords{
				margin: 10px auto 30px;
			    border-top: 1px solid #fff;
			    border-bottom: 1px solid #fff;
			    padding: 18px 0;
			    max-width: 55%;
			    display: -webkit-box;
			    -webkit-box-orient: horizontal;
			}
				.keywords li{
					-webkit-box-flex: 1;
					margin-right: 10px;
				    margin-bottom: 0;
				    position: relative;
				    font: 15px "黑体";
				    cursor: pointer;
				    transition: all 1s;
				}
				.keywords li:hover{
					background: rgba(102,102,102,0.4);
				}
			.aboutme{
				font:13px "微软雅黑";
				margin: 30px auto 0px;	
				padding: 15px;
				border: 1px solid #fff;
				display: inline-block;
				transition: all 1s;
			}
		
			.aboutme:hover{
				background: rgba(255,255,255,0.8);
				color: #e5004a;
			}

	.panter{
		    padding: 20px 0;
	    	text-align: center;
	    	border-top: 1px solid rgba(255, 255, 255, 0.5);
	    	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	    	margin-bottom: 30px;
	}





footer{
	height: 130px;
	width: 100%;
	background: rgba(0,0,0,0.7);
	text-align: center;
	line-height: 130px;
	
}

